
h1{
  font-family: cursive;
}
.hero{
  color:  #4b5563;
  font-weight: 500;
}
.link{
  text-decoration: none;
  background-color: #6d89b0;
  padding: 10px 15px;
  color: white;
  /* font-family: ; */
}
.lin{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  /* background-color: bisque; */
}
.left{
  background-color: bisque;
}
p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.right{
  background-color: rgb(142, 162, 179);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
.main{
  height: 100%;
  display: grid;
  grid-template-rows: 20% 10% 70%;
}
.top{
  display: grid;
  grid-template-columns: 20% 80%;
}
.links{
  background-color: #6d89b0;
}
.bottom{
  display: grid;
  grid-template-columns: 30% 70%;
}
iframe{
  width: 100%;
  height: 100%;
}
.content {
  padding: 20px;
}

.section {
  margin-top: 30px;
}
